---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		padding: 10px 15px;
		display: inline-block;
		text-decoration: none;
		color: var(--backgroundColor);
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
	a:hover {
		background-color: var(--accentColor);
		/* color: black; */
		transition: all 1s ease;
	}
</style>
