---
const { title, pubDate, url } = Astro.props;
---

<main>
  <a href={url}>
    <div class="container">
      <span class="title">{title}</span>
      <span style="display:flex" class="sub-text">
        <span>posted on&nbsp;</span>
        <span
          ><!-- //datetime={pubDate}> -->

          {
            new Date(pubDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </span>
      </span>
    </div>
  </a>
</main>

<style>
  @import "../styles/global-style-variables.css";

  main {
    min-width: max-content;
    margin: 3px;
    width: 100%;
    border-radius: 0.8rem;
    background-color: var(--backgroundColorDark);
    transition: all 0.4s ease;
  }
  .container {
    padding: 10px;
    padding-left: 25px;
    
  }
  main:hover {
    background-color: var(--accentColor);
  }
  a {
    text-decoration: none;
    font-size: 1em;
    color: var(--backgroundColor);
  }
  .title {
    font-size: 1em;
  }
  .sub-text {
    font-size: 0.9em;
    opacity: 0.5;
    text-decoration: none;
    color: var(--textColorLight);
  }
</style>
